<div class="container-fluid">
    <div class="container-font">
        <h1>SALES REPORT</h1>
        <hr>
        <div class="options">
            <nav>
                <a [routerLink]="['all']">
                    <span class="glyphicon glyphicon-calendar"></span> All Sales
                </a>
                <a [routerLink]="['monthly']">
                    <span class="glyphicon glyphicon-calendar"></span> This Month
                </a>
                <a [routerLink]="['yearly']">
                    <span class="glyphicon glyphicon-calendar"></span> This Year
                </a>
            </nav>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>