<div class="container-fluid bg">
    <div class="row h-font">
        <div class="col-sm-6">
            <div class="container-fluid">
                <form [formGroup]=loginValues (ngSubmit)="onLogin(loginValues)">
                    <h3 class="h-font">User Login</h3>
                    <div class="form-group">
                        <input type="text" formControlName="username" class="form-control font-md" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" formControlName="password" class="form-control font-md"
                            placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary button">Login</button>
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="container-fluid">
                <form [formGroup]="registrationValues" (ngSubmit)="onRegister(registrationValues)">
                    <h3 class="h-font">Business Registration</h3>
                    <div class="form-group">
                        <input type="text" formControlName="cname" class="form-control font-md"
                            placeholder="Company Name">
                    </div>
                    <div class="form-group">
                        <input type="email" formControlName="cemail" class="form-control font-md"
                            placeholder="Company Email">
                    </div>
                    <table>
                        <tr>
                            <td class="td">
                                <div class="form-group">
                                    <h5>Date Established</h5>
                                </div>
                            </td>
                            <td class="td">
                                <div class="form-group">
                                    <input type="date" formControlName="date" class="form-control font-md">
                                </div>
                            </td>
                        </tr>
                    </table>
                    <h3 class="h-font">User Details</h3>
                    <table style="width: 100%">
                        <tr>
                            <td class="td">
                                <div class="form-group">
                                    <input type="text" formControlName="fname" class="form-control font-md"
                                        placeholder="First name">
                                </div>
                            </td>
                            <td class="td">
                                <div class="form-group">
                                    <input type="text" formControlName="sname" class="form-control font-md"
                                        placeholder="Last name">
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="form-group">
                        <input type="email" formControlName="uemail" class="form-control font-md"
                            placeholder="User Email">
                    </div>
                    <div class="form-group">
                        <select formControlName="role" class="form-control font-md">
                            <option value="">--Select a role--</option>
                            <option value="Admin">Admin</option>
                            <option value="Staff">Staff</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="password" formControlName="pword" class="form-control font-md"
                            placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" formControlName="cpword" class="form-control font-md"
                            placeholder="Confirm password">
                    </div>
                    <button type="submit" class="btn btn-success button">Register</button>
                </form>
            </div>
        </div>
    </div>

</div>